.home {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.sideBar {
  display: flex;
  flex-direction: column;
  flex: .35;
  border: 1px solid rgb(5, 5, 5);
  height: 100vh;
}

.header {
  border: 1px solid maroon;
}

.header_inner {
  margin: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
}

.header_inner_icon {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.chat {
  display: flex;
  flex-direction: column;
  flex: .65;
  border: 1px solid rgb(5, 5, 5);
  height: 100vh;
}